 <div class="shopping">
  <span class="num-cart">0</span>
   <svg class="svg-shopping" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
    </svg>
 </div>  
<style>

.shopping{
  width: 25px;
  position: relative;
  display: flex;
  text-align: center;
  
}
 .shopping span{
     background-color: #3F000F;
     color: #fff;
     position: absolute;
     top: 12px;
     left: 15px;
     border-radius: 50%;
     width: 20px;
     text-align: center;
     
  }
  
  .scrolled .shopping span{
    background-color: #fff;
    color: #3F000F;
  

  
  }
  .svg-shopping{
    width: 25px;
    cursor: pointer;
    color: #3F000F;
  }
  .scrolled  .svg-shopping{
  color: #fff;
}

  @media screen and (max-width: 450px) {
    .shopping span{
      width: 15px;
      font-size: 15px;
        
    }
  .scrolled .shopping span{
  
   font-size: 10px;
  }
  .svg-shopping{
  width: 20px;
  
} 
  }
</style>


<script>


</script>